html {
  height: 100%;
}
body {
  margin: 0;
  font-family: Clear Sans,Helvetica Neue,Arial,sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 95vh;
}
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}